name: Release Artifacts
on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+" # Push events to matching v*, i.e. 1.0, 20.15.10
      - "v[0-9]+.[0-9]+.[0-9]+-rc*" # Push events to matching v*, i.e. 1.0-rc1, 20.15.10-rc5

jobs:
  release-artifacts:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust-version: [1.78.0]
    steps:
      - name: Checkout sources
        uses: actions/checkout@v3
      - name: Install stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: ${{ matrix.rust-version }}
          target: wasm32-unknown-unknown
          override: true
      - name: Build artifacts
        run: make build
      - name: Generate checksums
        run: |
          cd target/wasm32-unknown-unknown/release/
          sha256sum *.wasm > checksums.txt
      - name: Release
        env:
          GH_TOKEN: ${{ secrets.JAKUB_SECRET_CI }}
        run: >-
          gh release create ${{ github.ref_name }}
          target/wasm32-unknown-unknown/release/*.wasm
          target/wasm32-unknown-unknown/release/checksums.txt
          --generate-notes
          --title "${{ github.ref_name }}"

